
.nps-container {
    display: flex;
        justify-content: space-between;
    width: 100%;
    max-width: 400px;
    
    > button {
        display: flex;
            justify-content: center;
            align-items: center;    
            // flex-grow: 1;
        
        height: 30px;
        width: 30px;
        line-height: 1;
        
        background-color: #f3f3f3;
        border: none;
        border-radius: 8px;
        color: #333;
        font-size:12px;
        transition: all ease .1s;
        
        @media only screen and (max-width: 400px) {
            width: 26px;
            height: 36px;
        }
        
        &:hover {
            background-color: #0077ff !important;
            color: white !important;
            transform: scale(1.25)
        }
        
        
        &.detractor2 {
            background-color: #fff3f5;
        }
        
        &.promoter {
            background-color: #e5ffe5;
        }
    }
}

img.bannerPrincipal{
    margin: auto;
    display: flex;
    justify-content: center;
}

.seccionBotonera{
    justify-content: center;
    display: flex;

    .btn-primary{
    margin: 0 10px 0 10px;
    }
}

img.btnImagen{
    width: 100px;
    height: 100px;
    fill: white;
    stroke: #0077ff;
}

.btn-primary{
    cursor: pointer;
    background: #02a5bf;
    padding: 13px;
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 3rem 0;
    text-transform: uppercase;
    color: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif; font-weight:700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 1rem 0;
}

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif; font-weight:300;
    letter-spacing: 1px
}

.npsTiendas, .npsEnviosNacionales, .npsCallWhatsapp, .npsCallSAC {
    margin: 2rem auto;
    border-radius: 20px;
    max-width: 950px;
}

.npsTiendas, .npsEnviosNacionales, .npsCallWhatsapp, .npsCallSAC {
    display: none;
 }

 