body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.container {
  margin: 80px auto;
  width: 80%;
}

.container .widget span {
  color: #aaa;
  font-size: 12px;
}

.container .widget button {
  /* padding: 5px 10px; */
  font-size: 16px;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  border-radius: 100%;
  margin: 0;
  outline: none;
  margin-left: -1px;
  width: 40px;
  height: 40px;
  border: 3px solid #eee;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background 0.2s ease-in, color 0.2s ease-in, border-color 0.2s ease-in, -webkit-transform 0.2s cubic-bezier(0.5, 2, 0.5, 0.75);
  transition: background 0.2s ease-in, color 0.2s ease-in, border-color 0.2s ease-in, -webkit-transform 0.2s cubic-bezier(0.5, 2, 0.5, 0.75);
  transition: background 0.2s ease-in, color 0.2s ease-in, border-color 0.2s ease-in, transform 0.2s cubic-bezier(0.5, 2, 0.5, 0.75);
  transition: background 0.2s ease-in, color 0.2s ease-in, border-color 0.2s ease-in, transform 0.2s cubic-bezier(0.5, 2, 0.5, 0.75), -webkit-transform 0.2s cubic-bezier(0.5, 2, 0.5, 0.75);
}

.container .widget button.detractor-hover {
  background: #F44336;
  color: white;
  border-color: #f55a4e;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .widget button.passive-hover {
  background: #F57C00;
  color: white;
  border-color: #ff8910;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .widget button.promoter-hover {
  background: #4CAF50;
  color: white;
  border-color: #5cb860;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .widget.widget-sm {
  width: 315px;
  background: #eee;
  border: 2px solid #ccc;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-bottom: 30px;
}

.container .widget.widget-sm .positive-text, .container .widget.widget-sm .negative-text {
  position: absolute;
}

.container .widget.widget-sm .positive-text {
  right: 20px;
  bottom: 10px;
  text-align: right;
}

.container .widget.widget-sm .negative-text {
  left: 20px;
  bottom: 10px;
  text-align: left;
}

.container .widget.widget-sm button {
  border: none;
  margin-left: -3px;
  width: 27px;
  height: 27px;
  font-size: 12px;
  font-weight: normal;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  /* background-color: #ccc; */
  border-radius: none;
  text-align: center;
  display: inline-block;
}

.nps-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

.nps-container > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  line-height: 1;
  background-color: #f3f3f3;
  border: none;
  border-radius: 8px;
  color: #333;
  font-size: 12px;
  -webkit-transition: all ease .1s;
  transition: all ease .1s;
}

@media only screen and (max-width: 400px) {
  .nps-container > button {
    width: 26px;
    height: 36px;
  }
}

.nps-container > button:hover {
  background-color: #0077ff !important;
  color: white !important;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.nps-container > button.detractor2 {
  background-color: #fff3f5;
}

.nps-container > button.promoter {
  background-color: #e5ffe5;
}
/*# sourceMappingURL=estilos.css.map */