body {
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif
}

.nps-container {
    display: flex;
        justify-content: space-between;
    width: 100%;
    max-width: 400px;
    
    > button {
        display: flex;
            justify-content: center;
            align-items: center;    
            // flex-grow: 1;
        
        height: 30px;
        width: 30px;
        line-height: 1;
        
        background-color: #f3f3f3;
        border: none;
        border-radius: 8px;
        color: #333;
        font-size:12px;
        transition: all ease .1s;
        
        @media only screen and (max-width: 400px) {
            width: 26px;
            height: 36px;
        }
        
        &:hover {
            background-color: #0077ff !important;
            color: white !important;
            transform: scale(1.25)
        }
        
        
        &.detractor2 {
            background-color: #fff3f5;
        }
        
        &.promoter {
            background-color: #e5ffe5;
        }
    }
}

.npsEnviosNacionales{
   display: none;
}

.npsCallWhatsapp{
   display: none;
}

.npsCallSAC{
   display: none;
}