// Código sobre el top de 0 a 10 de los números
.nps-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    
    > label {
        display: flex;
            justify-content: center;
            align-items: center;    
            // flex-grow: 1;
        
        height: 30px;
        width: 30px;
        line-height: 1;
        
        background-color: #ccb5b5;
        border: none;
        border-radius: 8px;
        color: #333;
        font-size:12px;
        transition: all ease .1s;
        
        @media only screen and (max-width: 400px) {
            width: 26px;
            height: 36px;
        }
        
        &:hover {
            background-color: #0077ff !important;
            color: white !important;
            transform: scale(1.25)
        }
        
        
        &.detractor2 {
            background-color: #fff3f5;
        }
        
        &.promoter {
            background-color: #e5ffe5;
        }
    }
}

// FIN de código de números

.btnEnviar{
    cursor: pointer;
    background: #02a5bf;
    padding: 13px;
    width: 100%;
    max-width: 150px;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: auto;
    text-transform: uppercase;
    color: #fff;
    justify-content: center;
    display: flex;
 }

.btn-primary{
    cursor: pointer;
    background: #02a5bf;
    padding: 10px;
    width: 10%;
    /*max-width: 112px;*/
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 3rem 0;
    text-transform: uppercase;
    color: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif; font-weight:700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 1rem 0;
    color: #636363;
}

.movimientoEmoji{
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    &.hidden{
            overflow: hidden;
        }
        .imgEmojis{
            width: 48px;
            display:block;
            margin-left: auto;
            margin-right: auto;
            transform:translate(0px,0px);
            -ms-transform:translate(0px,0px); // IE 9 
            -moz-transform:translate(0px,0px); // Firefox 
            -webkit-transform:translate(0px,0px); // Safari and Chrome 
            -o-transform:translate(0px,0px); // Opera 
            -webkit-transition: all 500ms ease-in-out; // IE 9
            -moz-transition: all 500ms ease-in-out; // Firefox
            -ms-transition: all 500ms ease-in-out; // Safari and Chrome 
            -o-transition: all 500ms ease-in-out; // Opera 
        }
        .textEmoji{
            // font-family: 'Open Sans';
            z-index: -1;
            display:block;
            width:100%;
            text-align:center;
        }
        &:hover{
            .imgEmojis{
                transform:translate(0px,-10px);
                -ms-transform:translate(0px,-10px); // IE 9 
                -moz-transform:translate(0px,-10px); // Firefox 
                -webkit-transform:translate(0px,-10px); // Safari and Chrome 
                -o-transform:translate(0px,-10px); // Opera
            }
    }
}

.movimientoEmoji > input:checked + label{
    color: #41b3c8;
}


img.bannerPrincipal{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

img.btnImagen{
    width: 48px;
    height: 48px;
    fill: white;
    stroke: #0077ff;
}

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif; font-weight:300;
    letter-spacing: 1px;
}

.seccionBotonera{
    justify-content: center;
    display: flex;

    .btn-primary{
    margin: 0 30px 0 30px;
    }

    .btn-primary:hover{
        color: rgba(255, 255, 255, 1) !important;
        box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
        transition: all 0.2s ease;
        }
    label{
        font-size: 13px;
        font-weight: 600;
    }
}

.masInfo{
    padding-top: 20px;
}

.npsTiendas, .npsEnviosNacionales, .npsCallWhatsapp, .npsCallSAC {
    margin: 0.5rem auto;
    border-radius: 20px;
    max-width: 950px;
    display: none;
}

.textForm{
    border: 1px solid #aaaaaa;
    font-weight: 400;
    font-size: 15px;
    margin: 10px 0 7px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: none;
    -webkit-appearance: none;
    width: 100%;
    height: 36px;
    color: #636363;
    letter-spacing: 1px;
    padding-right: 10px;
}

.labelForm{
    color: #636363;
}

.x-grid-row {
    padding-bottom: 15px;
        .x-grid-col-45 {
            margin-right: 20px;
        }
}

.bordeCajas{
    border: #cccbcb 1px solid;
    padding: 0px 5px 5px 20px;
    border-radius: 10px;
}

.cajasCalificacion{
    justify-content: center;
    flex-wrap: nowrap !important;
}

.cajaMenu{
        justify-content: center;
        flex-wrap: nowrap !important;
        width: 45%;
    }


.mensajeInformativo{
    padding-top: 18px;
    font-size: 13px;
    font-weight: 500;
}

#llegoPedido, #llegoPedidoWhatsapp{
    display: none;
    padding-top: 20px;
}

input[type="radio"]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

  label{
      cursor: pointer;
  }

.confirmacion__pedido > input:checked + label{
    background-color: #7b98b9;
    border-radius: 2px;
}

@media screen and (max-width: 768px) {
    .seccionBotonera{
        justify-content: center;
        display: block;
        width: 80%;
        margin: 0px auto;
        
    
        .btn-primary{
            margin: 5px;
            display: inline-block;
            vertical-align: top;
            width: 45%;
            text-align: center;

        }
    
        .btn-primary:hover{
            color: rgba(255, 255, 255, 1) !important;
            box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
            transition: all 0.2s ease;
            }
    }

    img.btnImagen {
        width: 50px;
        height: 50px;
        fill: white;
        stroke: #0077ff;
    }

    .npsTiendas, .npsEnviosNacionales, .npsCallWhatsapp, .npsCallSAC {
        width: 90%;
        margin:0px auto;
    }

    .x-grid-row .x-grid-col-33:not(.responsivent) {
        border-bottom: none !important;
    }

    input[type="radio"]{
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        cursor: pointer;
    }
  }